// Place all the styles related to the customer/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
 opacity: 1;
 transition: opacity 0.2s;
}
.image:hover{
  opacity: 0.8;
}
.paginate {
  display: inline-block;
  padding-left: 250px;
}