<div class="slick-box">
  <div class="b"><img class="c" src="assets/1.jpg"></div>
    <div class="b"><img class="c" src="assets/2.jpg"></div>
    <div class="b"><img class="c" src="assets/3.jpg"></div>
    <div class="b"><img class="c" src="assets/1.jpg"></div>
    <div class="b"><img class="c" src="assets/2.jpg"></div>
    <div class="b"><img class="c" src="assets/3.jpg"></div>
    <div class="b"><img class="c" src="assets/1.jpg"></div>
    <div class="b"><img class="c" src="assets/2.jpg"></div>
    <div class="b"><img class="c" src="assets/3.jpg"></div>
</div>


<style>
  .c{
  height: 200px;
  width :200px;
}
</style>




<script type="text/javascript">

$('.slick-box').slick({
    arrows: false,
    autoplay: true,
    slidesToShow: 5,
    slidesToScroll: 1,
});
</script>