<div class="slick-box">
<% @items.each do |item| %>
<div class="c">
  <div class= "p-4 float-left">
    <%= link_to customer_item_path(item) do %>
      <div class = "sample3">
        <div class = "mask">
          <div class ="caption">more..</div>
        </div>
        <%= attachment_image_tag item, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150" %>
      </div>
    <% end %>
    <h5 class = "text-primary"><%= item.name %></h5>
    <div id = "heart">
      <h4 class="far fa-heart btn btn-link" aria-hidden="true"></h4>
    </div>
    <h5 class = "text-primary" style="text-align: right;"><%= item.non_taxed_price %>円</h5>
  </div>
</div>
<% end %>
</div>


<style>
  .c{
  width :200px;
  height: 200px;
}
</style>




<script type="text/javascript">

$('.slick-box').slick({
    arrows: true,
    autoplay: false,
    slidesToShow: 5,
    slidesToScroll: 1,
});
</script>