<div class="row">
  <div class="col-xl">
    <div style="min-height: 8vh;">
      <h3 class="mb-4">会員一覧</h3>
    </div>

    <table class = "table table-striped">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do | customer | %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <td><%= customer.is_cancel ? :'退会済':'有効' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>