<li class="list-group-item disabled">【ジャンル検索】</li>
<% genres.each do |genre| %>
<ul class="list-group">
	<li class="list-group-item">
		  <%= link_to genre.name, customer_items_path(genre_id: genre.id),class: "text-primary" %>
	</li>
<% end %>
</ul>
