/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap/_functions.scss";
@import "bootstrap/_variables.scss";
@import "bootstrap/mixins/*";
@import "bootstrap/*";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'customer/items';
@import "slick-theme";
@import "slick";
@import "carousel";

*{
  color: #515151;
  font-family: 'Noto Sans JP';
}

a,a:focus {
  outline:none;
}
button,input,input:focus {
  outline:none;
}
input::-moz-focus-inner, 
button::-moz-focus-inner  {
  border:none;
}

.fa-birthday-cake{
  color: #FF9191;
  transition: 0.25s ease-in-out;
}
.fa-birthday-cake:hover{
  transform: scale(1.4,1.4);
}
.header_hover{
  display: none;
}
.nav-item_customer:hover .header_normal{
  display: none;
}
.nav-item_customer:hover .header_hover{
  display: inline;
  animation-name: fadein;
  animation-duration: 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa-twitter{
  color: #1da1f2;
}
.fa-facebook-square{
  color: #3b5998;
}
.fa-instagram{
  color: #e1306c;
}
.fa-youtube{
  color: #ff0000;
}
.fa-line{
  color: #00c300;
}

.header-list {
  background-color: rgba(255,255,255,0.6);
}
.header-menu {
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.pagination>li>a {
  border: none;
  color: #515151;
  transition: color 0.3s ease-in, background 0.3s ease-in;
  .paginate-angle{
    transition: color 0.3s ease-in;
  }
}

.pagination>.active>a {
  background: $pink-light !important;
  transition: background 0.3s ease-in;
  &:hover{
    background: $primary !important;
  }
}


.pagination>li>a:hover {
  background-color: $primary;
  color: #fff;
  .paginate-angle{
    color: #fff;
  }
}

.last-link {
  width: 40px;
  height: 36px;
  border-radius: 50% !important;
  margin-left: .25rem;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: -50px;
  bottom: 50px;
  background: #FF9191;
  border-radius: 50%;
  box-shadow: 2px 2px 2px;
}
#page_top i{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top i::before{
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 40px;
  height: 30px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 80%;
  height: 4px;
  background-color: #FF9191;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 3px;
}
.menu-trigger span:nth-of-type(2) {
  top: 15px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}