<div class="container mt-5">
  <div class="row justify-content-center">
    <dl class= "col-sm-2 text-center">
      <dt class= "footer_dd"><i class="fab fa-instagram"></i> Instagram</dt>
    </dl>
    <dl class= "col-sm-2 text-center">
      <dt class= "footer_dd"><i class="fab fa-facebook-square"></i> Facebook</dd>
    </dl>
    <dl class= "col-sm-2 text-center">
      <dt class= "footer_dd"><i class="fab fa-twitter"></i> Twitter</dd>
    </dl>
    <dl class= "col-sm-2 text-center">
      <dd class= "footer_dd"><i class="fab fa-line"></i> Line</dd>
    </dl>
    <dl class= "col-sm-2 text-center">
      <dd class= "footer_dd"><i class="fab fa-youtube"></i> Youtube</dd>
    </dl>
  </div>
</div>