<div class="container mt-5">
  <div class="row">
    <dl class= "col-sm-3 text-left">
      <dt class= "footer_dt">支払い方法</dt>
      <dd class="footer_dd">クレジット</dd>
      <dd class="footer_dd">銀行振り込み</dd>
    </dl>
    <dl class= "col-sm-3 text-left">
      <dt class= "footer_dt">ご購入にあたって</dt>
      <dd class="footer_dd">はじめての方へ</dd>
      <dd class="footer_dd">よくあるご質問</dd>
      <dd class="footer_dd">ご利用ガイド</dd>
    </dl>
    <dl class= "col-sm-3 text-left">
      <dt class= "footer_dt">ながのCakeについて</dt>
      <dd class="footer_dd">アクセス</dd>
      <dd class="footer_dd">営業時間</dd>
      <dd class="footer_dd">会社概要</dd>
    </dl>
    <dl class= "col-sm-3 text-left">
      <dt class= "footer_dt">コミュニティ</dt>
      <dd class= "footer_dd"><i class="fab fa-instagram"></i> Instagram</dt>
      <dd class="footer_dd"><i class="fab fa-facebook-square"></i> Facebook</dd>
      <dd class="footer_dd"><i class="fab fa-twitter"></i> Twitter</dd>
      <dd class="footer_dd"><i class="fab fa-line"></i> Line</dd>
      <dd class="footer_dd"><i class="fab fa-youtube"></i> Youtube</dd>
    </dl>
  </div>
</div>