
  <ul class="navbar-brand m-0 pl-40">
    <h2><a class="m-0 p-0 mr-1" href="/"><i class="fas fa-birthday-cake header-icon"></i></a></h2>
  </ul>
  <a style="font-family: 'Baloo Bhaina 2';font-weight:800;font-size: 2.5rem;">Nagano Cake</a>

<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-expanded="false">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse header-menu id="Navbar">
  <ul class="navbar-nav ml-auto">
  <% if customer_signed_in? %>
      <li class="nav-item">
        <a class="align-middle">ようこそ<%= current_customer.family_name %>さん！</a>
      </li>
      <li class="nav-item_customer pills-1">
        <a class="nav-link" href="/customer">
          <span class="header_normal ml-3 mr-3"><i class="far fa-user header-icon"></i></span>
          <span class="header_hover" href="/customer"> マイページ</span>
        </a>
      </li>
      <li class="nav-item_customer pills-1">
        <a class="nav-link" href="/customer/items">
          <span class="header_normal ml-3 mr-3"><i class="fas fa-list-ul header-icon"></i></span>
          <span class="header_hover" href="/customer"> 商品一覧</span>
        </a>
      </li>
      <li class="nav-item_customer pills-1">
        <a class="nav-link" href="/customer/cart_items">
          <span class="header_normal ml-3 mr-3"><i class="fas fa-shopping-cart header-icon"></i></span>
          <span class="header_hover" href="/customer"> カート</span>
        </a>
      </li>
      <li class="nav-item_customer pills-1">
        <a class="nav-link" rel="nofollow" data-method="delete" href="/customers/sign_out">
          <span class="header_normal ml-3 mr-3"><i class="fas fa-sign-out-alt header-icon"></i></span>
          <span class="header_hover" href="/customer"> ログアウト</span>
        </a>
      </li>
    </nav>
  <% else %>
      <li class="nav-item_customer">
        <a class="nav-link" href="/customer/items">
        <span class="header_normal ml-3 mr-3"><i class="fas fa-list-ul header-icon"></i></span>
        <span class="header_hover" href="/customer"> 商品一覧</span>
        </a>
      </li>
      <li class="nav-item_customer">
        <a class="nav-link" href="/customers/sign_up">
        <span class="header_normal ml-3 mr-3"><i class="fas fa-user-plus header-icon"></i></span>
        <span class="header_hover" href="/customer"> 新規登録</span>
        </a>
      </li>
      <li class="nav-item_customer">
        <a class="nav-link" href="/customers/sign_in">
         <span class="header_normal ml-3 mr-3"><i class="fas fa-sign-in-alt header-icon"></i></span>
         <span class="header_hover" href="/customer"> ログイン</span>
        </a>
      </li>
  <% end %>
  </ul>
  </div>

